CONFIG_ESP_MAIN_TASK_STACK_SIZE=3000
CONFIG_ESP_TASK_WDT=n

CONFIG_ESP_WIFI_SSID="xu_pc"
CONFIG_ESP_WIFI_PASSWORD="1234567890"
CONFIG_MICRO_ROS_AGENT_IP="219.216.64.145"
CONFIG_MICRO_ROS_AGENT_PORT="8887"